/* line 11, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/style.scss */
body, html {
  height: 100%;
}

/* line 20, ../sass/style.scss */
.zip-style {
  padding-top: 5px !important;
  background-color: #D37B49 !important;
}

/* line 25, ../sass/style.scss */
.navbar-styling {
  background-color: #D37B49 !important;
  border-left: 2px dashed white;
  border-top: 2px dashed white;
  z-index: 1111;
}
/* line 31, ../sass/style.scss */
.navbar-styling .navbar-brand {
  height: 62px;
}
/* line 34, ../sass/style.scss */
.navbar-styling .navbar-brand img {
  position: absolute;
  top: 5px;
  left: 25px;
}
/* line 40, ../sass/style.scss */
.navbar-styling .navbar-brand p {
  display: none;
}
/* line 45, ../sass/style.scss */
.navbar-styling .navbar-collapse {
  margin-left: 95px;
}
/* line 49, ../sass/style.scss */
.navbar-styling .zero-margin {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 55, ../sass/style.scss */
.navbar-styling .navbar-nav li {
  margin-right: 25px;
}
/* line 57, ../sass/style.scss */
.navbar-styling .navbar-nav li .nav-link {
  font-size: 15px;
  color: white;
  font-weight: bold;
}
/* line 66, ../sass/style.scss */
.navbar-styling .header-form input {
  width: 100%;
  border-radius: 2.25rem;
  padding-right: 35px !important;
  height: 32px;
}
/* line 72, ../sass/style.scss */
.navbar-styling .header-form .btn {
  position: absolute;
  background-color: transparent;
  right: 0;
}
/* line 76, ../sass/style.scss */
.navbar-styling .header-form .btn:focus {
  box-shadow: none;
}
/* line 82, ../sass/style.scss */
.navbar-styling .btn-cart {
  background-color: transparent !important;
}
/* line 84, ../sass/style.scss */
.navbar-styling .btn-cart:focus {
  box-shadow: none;
}
/* line 87, ../sass/style.scss */
.navbar-styling .btn-cart i {
  color: white;
  font-size: 16px !important;
}

/* line 97, ../sass/style.scss */
.main-banner {
  height: 100%;
  width: 100%;
}

/* line 102, ../sass/style.scss */
.main-image-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* line 110, ../sass/style.scss */
.carousel-control-prev, .carousel-control-next {
  width: 10% !important;
}

/* line 114, ../sass/style.scss */
.main-banner-text {
  color: white;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 120, ../sass/style.scss */
.main-banner-text h1, .main-banner-text h4 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.8px;
}
/* line 125, ../sass/style.scss */
.main-banner-text a {
  color: white;
  border: 1px solid white;
  padding: 20px;
  font-weight: bold;
}
/* line 130, ../sass/style.scss */
.main-banner-text a:hover {
  color: #D37B49;
  text-decoration: none;
}

/* line 137, ../sass/style.scss */
.box {
  margin: 20px 0px;
  padding: 20px;
}

/* line 144, ../sass/style.scss */
.form-bg-color {
  background-color: #D37B49;
  padding: 3% 0;
}

/* line 150, ../sass/style.scss */
.form-heading1, .form-heading2 {
  text-align: center;
  color: white;
  letter-spacing: 0.8px;
  font-weight: lighter;
}

/* line 157, ../sass/style.scss */
.form-margin {
  margin-top: 3%;
}

/* line 162, ../sass/style.scss */
.input-margin input {
  margin-bottom: 10px;
  color: white !important;
  background-color: transparent;
  border-color: white;
  border-radius: 0;
}
/* line 168, ../sass/style.scss */
.input-margin input:focus {
  background-color: transparent !important;
  border-color: white;
}
/* line 173, ../sass/style.scss */
.input-margin input::-webkit-input-placeholder, .input-margin textarea::-webkit-input-placeholder {
  color: white !important;
}
/* line 177, ../sass/style.scss */
.input-margin label {
  color: white;
}
/* line 181, ../sass/style.scss */
.input-margin textarea {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
  color: white !important;
}
/* line 186, ../sass/style.scss */
.input-margin textarea:focus {
  background-color: transparent;
  border-color: white;
}
/* line 191, ../sass/style.scss */
.input-margin input:nth-child(1), .input-margin input:nth-child(2) {
  margin-bottom: 15px;
}

/* line 198, ../sass/style.scss */
.form-submit-btn {
  background-color: transparent !important;
  border: 1px solid white !important;
  border-radius: 0 !important;
  color: white;
  padding: 10px 30px !important;
  cursor: pointer;
}
/* line 205, ../sass/style.scss */
.form-submit-btn:hover {
  background-color: white !important;
  color: #D37B49;
  border-color: #D37B49;
  font-weight: bold;
}

/* line 213, ../sass/style.scss */
.margin-top {
  margin-top: 5%;
  background-color: #f1f2f2;
}
/* line 216, ../sass/style.scss */
.margin-top .row {
  padding-top: 2% !important;
  padding-bottom: 2%;
}
/* line 222, ../sass/style.scss */
.margin-top .four-box .col-xl-3, .margin-top .four-box .col-lg-3, .margin-top .four-box .col-md-3, .margin-top .four-box .col-sm-3 {
  padding: 0 !important;
}

/* line 229, ../sass/style.scss */
.cover-image {
  height: 250px;
}
/* line 231, ../sass/style.scss */
.cover-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 239, ../sass/style.scss */
.margin-footer {
  margin-top: 5%;
}
/* line 241, ../sass/style.scss */
.margin-footer h6 {
  text-align: center;
  margin-top: 5px;
}
/* line 246, ../sass/style.scss */
.margin-footer .image-box {
  position: relative;
}
/* line 248, ../sass/style.scss */
.margin-footer .image-box .footer-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 258, ../sass/style.scss */
.social-footer-margin {
  margin-top: 5%;
}
/* line 260, ../sass/style.scss */
.social-footer-margin .social-icon {
  list-style: none;
}
/* line 263, ../sass/style.scss */
.social-footer-margin .social-icon li {
  display: inline;
  margin-right: 5%;
}
/* line 267, ../sass/style.scss */
.social-footer-margin .social-icon li .social-links i {
  font-size: 13px;
  border: 1px solid #D37B49;
  padding: 11px 12px;
  border-radius: 2.25rem;
}
/* line 273, ../sass/style.scss */
.social-footer-margin .social-icon li .social-links .fa-facebook {
  padding: 11px 13px;
}
/* line 281, ../sass/style.scss */
.social-footer-margin form {
  margin-top: 5%;
  margin-left: 14%;
}
/* line 284, ../sass/style.scss */
.social-footer-margin form input {
  height: 34px;
  border-radius: 2.25rem;
  text-indent: 20px;
  width: 80%;
  border-color: #D37B49 !important;
}
/* line 294, ../sass/style.scss */
.social-footer-margin .payment-option {
  list-style: none;
}
/* line 296, ../sass/style.scss */
.social-footer-margin .payment-option li {
  display: inline;
  margin-right: 15px;
}
/* line 300, ../sass/style.scss */
.social-footer-margin .payment-option li a img {
  height: 50px;
}

/* line 310, ../sass/style.scss */
.footer-last {
  background-color: #D37B49;
  margin-top: 5%;
}
/* line 313, ../sass/style.scss */
.footer-last h6 {
  color: white;
  padding: 20px 0;
  margin-bottom: 0 !important;
  font-size: 12px;
  letter-spacing: 0.9px;
}

/* line 323, ../sass/style.scss */
.margin-product {
  margin-top: 2%;
}

/* line 329, ../sass/style.scss */
.breadcrumb {
  background-color: transparent !important;
}
/* line 331, ../sass/style.scss */
.breadcrumb a {
  color: #D37B49;
}
/* line 333, ../sass/style.scss */
.breadcrumb a:hover {
  color: black;
  text-decoration: none;
}

/* line 341, ../sass/style.scss */
.margin-gallery {
  margin-top: 5%;
}
/* line 343, ../sass/style.scss */
.margin-gallery .sizes {
  list-style: none;
  margin-top: 5%;
  text-align: center;
}
/* line 347, ../sass/style.scss */
.margin-gallery .sizes li {
  display: inline;
  margin-right: 2%;
}
/* line 350, ../sass/style.scss */
.margin-gallery .sizes li a {
  text-decoration: none;
  color: #D37B49;
  border: 1px solid #D37B49;
  padding: 10px 15px;
}
/* line 355, ../sass/style.scss */
.margin-gallery .sizes li a:hover {
  background-color: #D37B49;
  color: white;
}
/* line 363, ../sass/style.scss */
.margin-gallery .product-detail {
  margin-top: 10%;
  font-weight: bold;
}
/* line 368, ../sass/style.scss */
.margin-gallery .details {
  margin-left: 15px;
}
/* line 372, ../sass/style.scss */
.margin-gallery .add-to-cart-btn {
  background-color: transparent !important;
  color: #D37B49;
  border-color: #D37B49;
  border-radius: 0;
  margin-right: 10px;
  cursor: pointer;
}
/* line 379, ../sass/style.scss */
.margin-gallery .add-to-cart-btn:hover {
  background-color: #D37B49 !important;
  color: white;
}

/* line 387, ../sass/style.scss */
.reviews {
  margin-top: 5%;
}
/* line 389, ../sass/style.scss */
.reviews .stars {
  list-style: none;
}
/* line 391, ../sass/style.scss */
.reviews .stars li {
  color: #D37B49;
  display: inline;
  margin-right: 5px;
}
/* line 395, ../sass/style.scss */
.reviews .stars li a {
  color: #D37B49;
}
/* line 397, ../sass/style.scss */
.reviews .stars li a i {
  font-size: 18px !important;
}
/* line 405, ../sass/style.scss */
.reviews form input {
  border-color: #D37B49;
  border-radius: 0;
  width: 100%;
}
/* line 412, ../sass/style.scss */
.reviews .btn-submit {
  background-color: transparent;
  border-color: #D37B49;
  color: #D37B49;
  border-radius: 0;
  cursor: pointer;
  padding: 8px 32px !important;
}
/* line 419, ../sass/style.scss */
.reviews .btn-submit:hover {
  background-color: #D37B49 !important;
  color: white;
}

/* line 427, ../sass/style.scss */
.banner {
  background-color: #D37B49 !important;
  margin-top: 5% !important;
}
/* line 430, ../sass/style.scss */
.banner .row {
  padding: 3% 0%;
}
/* line 433, ../sass/style.scss */
.banner h5 {
  font-size: 40px !important;
  color: white !important;
}
/* line 437, ../sass/style.scss */
.banner h6 {
  font-size: 30px !important;
  color: white;
  letter-spacing: 3px !important;
  margin-bottom: 2% !important;
}
/* line 443, ../sass/style.scss */
.banner .btn-get {
  background-color: transparent !important;
  color: white;
  border-color: white;
  border-radius: 0;
  width: 25%;
  cursor: pointer !important;
}

/* line 453, ../sass/style.scss */
.related {
  margin-top: 5%;
}
/* line 455, ../sass/style.scss */
.related h1 {
  font-size: 25px !important;
  color: #D37B49;
  letter-spacing: 2px;
}
/* line 460, ../sass/style.scss */
.related .related-prod {
  list-style: none;
  margin-top: 5%;
}
/* line 463, ../sass/style.scss */
.related .related-prod li {
  display: inline-block !important;
  margin-right: 5%;
}
/* line 466, ../sass/style.scss */
.related .related-prod li .r-anchor {
  text-decoration: none;
}
/* line 470, ../sass/style.scss */
.related .related-prod li:last-child {
  margin-right: 0 !important;
}
/* line 475, ../sass/style.scss */
.related .img-products {
  height: 200px;
  position: relative;
}
/* line 478, ../sass/style.scss */
.related .img-products img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* line 483, ../sass/style.scss */
.related .img-products .hover-product {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 492, ../sass/style.scss */
.related .r-products {
  width: 160px;
}
/* line 495, ../sass/style.scss */
.related .r-products h6 {
  color: #D37B49;
  margin-top: 5px !important;
  margin-bottom: 0 !important;
}
/* line 501, ../sass/style.scss */
.related .r-products .rp-star {
  list-style: none;
  margin-top: 5px;
  margin-left: 8px;
}
/* line 505, ../sass/style.scss */
.related .r-products .rp-star li {
  display: inline;
  margin-right: 0 !important;
}
/* line 508, ../sass/style.scss */
.related .r-products .rp-star li i {
  color: grey;
}

/* line 517, ../sass/style.scss */
.category-margin {
  margin-top: 5%;
}
/* line 519, ../sass/style.scss */
.category-margin h1 {
  color: #D37B49;
}
/* line 522, ../sass/style.scss */
.category-margin .row {
  margin-top: 5%;
}

/* line 527, ../sass/style.scss */
.poster {
  height: 270px;
  position: relative;
  margin-top: 6px;
  width: 150px;
  background-color: lightgray;
  margin-bottom: 10%;
  text-align: center;
}
/* line 535, ../sass/style.scss */
.poster h6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

/* line 545, ../sass/style.scss */
.products {
  width: 155px;
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
}
/* line 550, ../sass/style.scss */
.products img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 558, ../sass/style.scss */
.products-list {
  text-align: center;
  list-style: none;
}
/* line 561, ../sass/style.scss */
.products-list li {
  display: inline-block;
  width: 160px;
}

/* line 568, ../sass/style.scss */
.custom-banner {
  position: relative;
  height: 600px;
}
/* line 571, ../sass/style.scss */
.custom-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* line 577, ../sass/style.scss */
.custom-banner .image-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
/* line 585, ../sass/style.scss */
.custom-banner .details-button {
  position: absolute;
  right: 10%;
  bottom: 15%;
  transform: translate(-10%, -15%);
}
/* line 590, ../sass/style.scss */
.custom-banner .details-button .btn-details {
  background-color: transparent !important;
  color: white;
  letter-spacing: 1px;
  font-size: 36px;
  border: 1px solid white !important;
  cursor: pointer;
  border-radius: 0 !important;
  z-index: 111111;
}
/* line 599, ../sass/style.scss */
.custom-banner .details-button .btn-details:hover {
  background-color: #D37B49 !important;
  color: white;
}
/* line 606, ../sass/style.scss */
.custom-banner .details-button1 {
  position: absolute;
  left: 10%;
  bottom: 15%;
  transform: translate(-10%, -15%);
}
/* line 611, ../sass/style.scss */
.custom-banner .details-button1 .btn-details {
  background-color: transparent !important;
  color: white;
  letter-spacing: 1px;
  font-size: 36px;
  border: 1px solid white !important;
  cursor: pointer;
  border-radius: 0 !important;
  z-index: 111111;
}
/* line 620, ../sass/style.scss */
.custom-banner .details-button1 .btn-details:hover {
  background-color: #D37B49 !important;
  color: white;
}

/* line 629, ../sass/style.scss */
.review-banner {
  background-color: #D37B49 !important;
  margin-top: 2% !important;
  margin-bottom: 2%;
}
/* line 633, ../sass/style.scss */
.review-banner .row {
  padding: 3% 0%;
}
/* line 636, ../sass/style.scss */
.review-banner h5 {
  font-size: 40px !important;
  color: white !important;
}
/* line 640, ../sass/style.scss */
.review-banner h6 {
  font-size: 30px !important;
  color: white;
  letter-spacing: 3px !important;
  margin-bottom: 2% !important;
}
/* line 646, ../sass/style.scss */
.review-banner .btn-get {
  background-color: transparent !important;
  color: white;
  border-color: white;
  border-radius: 0;
  width: 25%;
  cursor: pointer !important;
}

/* line 657, ../sass/style.scss */
.btn-tour {
  padding: 20px 50px !important;
  border-color: white !important;
  background-color: transparent !important;
  color: white !important;
  border-radius: 0 !important;
  cursor: pointer;
  font-weight: bold !important;
}
/* line 665, ../sass/style.scss */
.btn-tour:hover {
  background-color: white !important;
  color: #D37B49 !important;
  font-weight: bold !important;
}

/* line 672, ../sass/style.scss */
.bg-color-s {
  background-color: lightgray;
  margin: 2% 0%;
}

/* line 678, ../sass/style.scss */
.men-women-section h6 {
  padding: 2% 0 0 0;
  color: #D37B49;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 14px;
}
/* line 685, ../sass/style.scss */
.men-women-section .viewall {
  color: #D37B49;
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 692, ../sass/style.scss */
.men-women-section ul {
  list-style: none;
  margin-top: 5px;
}
/* line 695, ../sass/style.scss */
.men-women-section ul li {
  display: inline;
  margin-right: 5px;
}
/* line 698, ../sass/style.scss */
.men-women-section ul li .mens {
  width: 170px;
  display: inline-block;
  height: 220px;
  position: relative;
}
/* line 703, ../sass/style.scss */
.men-women-section ul li .mens img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* line 713, ../sass/style.scss */
#preview {
  margin-top: 2%;
}

/* line 717, ../sass/style.scss */
#preview-coverflow1 .cover, #preview-coverflow2 .cover, #preview-coverflow3 .cover {
  cursor: pointer;
  width: 320px !important;
}

/*responsiv 3D gallery end*/
/* line 725, ../sass/style.scss */
.sec-head {
  color: #D37B49;
}

/* line 736, ../sass/style.scss */
.about-body {
  height: 100vh;
}

/* line 740, ../sass/style.scss */
.about-main {
  height: 100%;
  background-image: url("../images/a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* line 755, ../sass/style.scss */
.about-heading2 {
  color: white;
}

/* line 761, ../sass/style.scss */
.second-div .second-head {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2px !important;
}
/* line 766, ../sass/style.scss */
.second-div .second-p {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: grey;
}

/* line 773, ../sass/style.scss */
.third {
  background-image: url("../images/b.jpg");
  background-size: cover;
  background-position: center;
  height: 230px;
}
/* line 778, ../sass/style.scss */
.third .third-head {
  color: white;
  margin-top: 6%;
  font-size: 50px;
}

/* line 787, ../sass/style.scss */
.fourth .fourth-head {
  font-size: 50px;
  text-align: right;
}
/* line 792, ../sass/style.scss */
.fourth .break, .fourth .break2 {
  min-height: 50px;
  float: right;
  border-right: solid 1px #313131;
}
/* line 798, ../sass/style.scss */
.fourth .fourth-p {
  font-size: 13px;
  margin-top: 5px !important;
}

/* line 804, ../sass/style.scss */
.fifth {
  background-color: #f3f3f3;
}
/* line 806, ../sass/style.scss */
.fifth .fifth-head {
  letter-spacing: 1.5px;
}
/* line 810, ../sass/style.scss */
.fifth .fifth-h {
  font-size: 22px;
  color: black;
  letter-spacing: 1.5px;
}
/* line 816, ../sass/style.scss */
.fifth .fifth-p {
  font-size: 14px;
  letter-spacing: .5px;
}

@media (max-width: 575px) {
  /* line 826, ../sass/style.scss */
  .fourth-head {
    font-size: 26px !important;
    text-align: center !important;
  }

  /* line 831, ../sass/style.scss */
  .fourth-p {
    text-align: center;
  }

  /* line 836, ../sass/style.scss */
  .navbar-styling button {
    margin-top: 5px;
  }

  /* line 842, ../sass/style.scss */
  .navbar-collapse {
    margin-left: 5px !important;
  }

  /* line 846, ../sass/style.scss */
  .navbar-brand {
    height: unset;
  }
  /* line 849, ../sass/style.scss */
  .navbar-brand img {
    display: none;
  }
  /* line 853, ../sass/style.scss */
  .navbar-brand p {
    display: block !important;
    font-size: 15px;
    margin-top: 5%;
    font-weight: bold;
  }

  /* line 861, ../sass/style.scss */
  .main-banner-text {
    color: white;
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  /* line 868, ../sass/style.scss */
  .main-banner-text h1, .main-banner-text h4 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 14px;
  }
  /* line 874, ../sass/style.scss */
  .main-banner-text .mobile-hide {
    display: none;
  }
  /* line 877, ../sass/style.scss */
  .main-banner-text a {
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-weight: bold;
  }
  /* line 883, ../sass/style.scss */
  .main-banner-text a:hover {
    color: #D37B49;
    text-decoration: none;
  }

  /* line 891, ../sass/style.scss */
  .breadcrumb a, .breadcrumb span {
    font-size: 10px;
  }

  /* line 896, ../sass/style.scss */
  .margin-size {
    margin-top: 5%;
  }

  /* line 899, ../sass/style.scss */
  .sizes {
    list-style: none;
    margin-top: 5%;
    text-align: center;
  }
  /* line 903, ../sass/style.scss */
  .sizes li {
    display: inline;
    margin-right: 0% !important;
  }
  /* line 906, ../sass/style.scss */
  .sizes li a {
    text-decoration: none;
    color: #D37B49;
    border: 1px solid #D37B49;
    padding: 6px 10px !important;
  }
  /* line 911, ../sass/style.scss */
  .sizes li a:hover {
    background-color: #D37B49;
    color: white;
  }

  /* line 920, ../sass/style.scss */
  .banner h6 {
    font-size: 11px !important;
    letter-spacing: 1px !important;
    margin-bottom: 4% !important;
  }
  /* line 925, ../sass/style.scss */
  .banner h5 {
    font-size: 16px !important;
  }
  /* line 928, ../sass/style.scss */
  .banner .btn-get {
    width: 50%;
  }

  /* line 934, ../sass/style.scss */
  .social-icon li {
    margin-right: 4% !important;
  }

  /* line 940, ../sass/style.scss */
  .social-footer-margin form {
    margin-left: 0 !important;
  }
  /* line 942, ../sass/style.scss */
  .social-footer-margin form input {
    width: 100%;
  }

  /* line 949, ../sass/style.scss */
  .related-prod li {
    margin-bottom: 10%;
  }

  /* line 955, ../sass/style.scss */
  .margin-size h4 {
    font-size: 19px !important;
  }

  /* line 960, ../sass/style.scss */
  .related {
    margin-top: 10%;
  }

  /* line 964, ../sass/style.scss */
  .parent {
    margin-top: 8% !important;
  }
  /* line 966, ../sass/style.scss */
  .parent h1, .parent p {
    color: white;
  }

  /* line 971, ../sass/style.scss */
  .parent2 {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50%;
  }
  /* line 976, ../sass/style.scss */
  .parent2 .about-heading2 {
    font-size: 22px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* line 986, ../sass/style.scss */
  .navbar-styling button {
    margin-top: 5px;
  }

  /* line 991, ../sass/style.scss */
  .margin-size {
    margin-top: 5%;
  }

  /* line 996, ../sass/style.scss */
  .products {
    width: 96px;
    display: inline-block;
    position: relative;
  }
  /* line 1000, ../sass/style.scss */
  .products img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* line 1008, ../sass/style.scss */
  .products-list {
    list-style: none;
  }
  /* line 1010, ../sass/style.scss */
  .products-list li {
    display: inline-block;
    width: 98px;
  }

  /* line 1017, ../sass/style.scss */
  .parent h1, .parent p {
    color: white;
  }

  /* line 1021, ../sass/style.scss */
  .parent2 {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30%;
  }
  /* line 1026, ../sass/style.scss */
  .parent2 .about-heading2 {
    font-size: 22px;
  }

  /* line 1031, ../sass/style.scss */
  .fourth-head {
    font-size: 26px !important;
    text-align: center !important;
  }

  /* line 1036, ../sass/style.scss */
  .fourth-p {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 1045, ../sass/style.scss */
  .navbar-styling button {
    margin-top: 5px;
  }

  /* line 1050, ../sass/style.scss */
  .margin-product {
    margin-top: 7%;
  }

  /* line 1054, ../sass/style.scss */
  .sizes {
    list-style: none;
    margin-top: 5%;
    text-align: center;
  }
  /* line 1058, ../sass/style.scss */
  .sizes li {
    display: inline;
    margin-right: 0.1% !important;
  }
  /* line 1061, ../sass/style.scss */
  .sizes li a {
    text-decoration: none;
    color: #D37B49;
    border: 1px solid #D37B49;
    padding: 6px 10px !important;
  }
  /* line 1066, ../sass/style.scss */
  .sizes li a:hover {
    background-color: #D37B49;
    color: white;
  }

  /* line 1075, ../sass/style.scss */
  .related-prod li {
    margin-right: 1% !important;
  }
  /* line 1078, ../sass/style.scss */
  .related-prod li:last-child {
    display: none !important;
  }

  /* line 1083, ../sass/style.scss */
  .products {
    width: 96px;
    display: inline-block;
    position: relative;
  }
  /* line 1087, ../sass/style.scss */
  .products img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* line 1095, ../sass/style.scss */
  .products-list {
    list-style: none;
  }
  /* line 1097, ../sass/style.scss */
  .products-list li {
    display: inline-block;
    width: 98px;
  }

  /* line 1103, ../sass/style.scss */
  .parent {
    width: 50%;
    margin-top: 10% !important;
  }
  /* line 1106, ../sass/style.scss */
  .parent h1, .parent p {
    color: white;
  }

  /* line 1111, ../sass/style.scss */
  .parent2 {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 20%;
  }
  /* line 1116, ../sass/style.scss */
  .parent2 .about-heading2 {
    font-size: 22px;
  }

  /* line 1121, ../sass/style.scss */
  .fourth-head {
    font-size: 26px !important;
    text-align: right !important;
  }

  /* line 1126, ../sass/style.scss */
  .break2 {
    height: 240px !important;
  }

  /* line 1130, ../sass/style.scss */
  .break {
    height: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 1141, ../sass/style.scss */
  .margin-product {
    margin-top: 7%;
  }

  /* line 1146, ../sass/style.scss */
  .related-prod li {
    margin-right: 2% !important;
  }
  /* line 1149, ../sass/style.scss */
  .related-prod li:last-child {
    margin-right: 0 !important;
  }

  /* line 1154, ../sass/style.scss */
  .products {
    width: 129px;
    display: inline-block;
    position: relative;
  }
  /* line 1158, ../sass/style.scss */
  .products img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* line 1166, ../sass/style.scss */
  .products-list {
    list-style: none;
  }
  /* line 1168, ../sass/style.scss */
  .products-list li {
    display: inline-block;
    width: 132px;
  }

  /* line 1174, ../sass/style.scss */
  .parent {
    width: 40%;
    margin-top: 10% !important;
  }
  /* line 1177, ../sass/style.scss */
  .parent h1, .parent p {
    color: white;
  }

  /* line 1182, ../sass/style.scss */
  .parent2 {
    position: absolute;
    top: 60px;
    right: 30px;
    width: 20%;
  }
  /* line 1187, ../sass/style.scss */
  .parent2 .about-heading2 {
    font-size: 28px;
  }

  /* line 1192, ../sass/style.scss */
  .break2 {
    height: 140px !important;
  }
}
@media (min-width: 1200px) {
  /* line 1200, ../sass/style.scss */
  .products {
    width: 155px;
    display: inline-block;
    position: relative;
  }
  /* line 1204, ../sass/style.scss */
  .products img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* line 1212, ../sass/style.scss */
  .products-list {
    list-style: none;
  }
  /* line 1214, ../sass/style.scss */
  .products-list li {
    display: inline-block;
    width: 160px;
  }

  /* line 1220, ../sass/style.scss */
  .parent {
    width: 40%;
    margin-top: 12% !important;
  }
  /* line 1223, ../sass/style.scss */
  .parent h1, .parent p {
    color: white;
  }

  /* line 1228, ../sass/style.scss */
  .parent2 {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 20%;
  }
  /* line 1233, ../sass/style.scss */
  .parent2 .about-heading2 {
    font-size: 28px;
  }

  /* line 1238, ../sass/style.scss */
  .break2 {
    height: 120px !important;
  }
}
/* line 1248, ../sass/style.scss */
.lSSlideOuter {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1257, ../sass/style.scss */
.lightSlider:before, .lightSlider:after {
  content: " ";
  display: table;
}

/* line 1261, ../sass/style.scss */
.lightSlider {
  overflow: hidden;
  margin: 0;
}

/* line 1265, ../sass/style.scss */
.lSSlideWrapper {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 1270, ../sass/style.scss */
.lSSlideWrapper > .lightSlider:after {
  clear: both;
}

/* line 1273, ../sass/style.scss */
.lSSlideWrapper .lSSlide {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 1s;
  -webkit-transition-property: -webkit-transform,height;
  -moz-transition-property: -moz-transform,height;
  transition-property: transform,height;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}

/* line 1286, ../sass/style.scss */
.lSSlideWrapper .lSFade {
  position: relative;
}

/* line 1289, ../sass/style.scss */
.lSSlideWrapper .lSFade > * {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 9;
  margin-right: 0;
  width: 100%;
}

/* line 1297, ../sass/style.scss */
.lSSlideWrapper.usingCss .lSFade > * {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: inherit !important;
  transition-duration: inherit !important;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: inherit !important;
  transition-timing-function: inherit !important;
}

/* line 1308, ../sass/style.scss */
.lSSlideWrapper .lSFade > *.active {
  z-index: 10;
}

/* line 1311, ../sass/style.scss */
.lSSlideWrapper.usingCss .lSFade > *.active {
  opacity: 1;
}

/** /!!! End of core css Should not edit !!!/**/
/* Pager */
/* line 1317, ../sass/style.scss */
.lSSlideOuter .lSPager.lSpg {
  margin: 10px 0 0;
  padding: 0;
  text-align: center;
}

/* line 1322, ../sass/style.scss */
.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

/* line 1327, ../sass/style.scss */
.lSSlideOuter .lSPager.lSpg > li a {
  background-color: #222222;
  border-radius: 30px;
  display: inline-block;
  height: 8px;
  overflow: hidden;
  text-indent: -999em;
  width: 8px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

/* line 1340, ../sass/style.scss */
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: #428bca;
}

/* line 1343, ../sass/style.scss */
.lSSlideOuter .media {
  opacity: 0.8;
}

/* line 1346, ../sass/style.scss */
.lSSlideOuter .media.active {
  opacity: 1;
}

/* End of pager */
/** Gallery */
/* line 1352, ../sass/style.scss */
.lSSlideOuter .lSPager.lSGallery {
  list-style: none outside none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 1371, ../sass/style.scss */
.lSSlideOuter .lSPager.lSGallery li {
  overflow: hidden;
  -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
  transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}

/* line 1376, ../sass/style.scss */
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
  border-radius: 5px;
}

/* line 1379, ../sass/style.scss */
.lSSlideOuter .lSPager.lSGallery img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* line 1384, ../sass/style.scss */
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
  content: " ";
  display: table;
}

/* line 1388, ../sass/style.scss */
.lSSlideOuter .lSPager.lSGallery:after {
  clear: both;
}

/* End of Gallery*/
/* slider actions */
/* line 1394, ../sass/style.scss */
.lSAction > a {
  width: 32px;
  display: block;
  top: 50%;
  height: 32px;
  background-image: url("../images/controls.png");
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}

/* line 1408, ../sass/style.scss */
.lSAction > a:hover {
  opacity: 1;
}

/* line 1411, ../sass/style.scss */
.lSAction > .lSPrev {
  background-position: 0 0;
  left: 10px;
}

/* line 1415, ../sass/style.scss */
.lSAction > .lSNext {
  background-position: -32px 0;
  right: 10px;
}

/* line 1419, ../sass/style.scss */
.lSAction > a.disabled {
  pointer-events: none;
}

/* line 1422, ../sass/style.scss */
.cS-hidden {
  height: 1px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow: hidden;
}

/* vertical */
/* line 1431, ../sass/style.scss */
.lSSlideOuter.vertical {
  position: relative;
}

/* line 1434, ../sass/style.scss */
.lSSlideOuter.vertical.noPager {
  padding-right: 0px !important;
}

/* line 1437, ../sass/style.scss */
.lSSlideOuter.vertical .lSGallery {
  position: absolute !important;
  right: 0;
  top: 0;
}

/* line 1442, ../sass/style.scss */
.lSSlideOuter.vertical .lightSlider > * {
  width: 100% !important;
  max-width: none !important;
}

/* vertical controlls */
/* line 1448, ../sass/style.scss */
.lSSlideOuter.vertical .lSAction > a {
  left: 50%;
  margin-left: -14px;
  margin-top: 0;
}

/* line 1453, ../sass/style.scss */
.lSSlideOuter.vertical .lSAction > .lSNext {
  background-position: 31px -31px;
  bottom: 10px;
  top: auto;
}

/* line 1458, ../sass/style.scss */
.lSSlideOuter.vertical .lSAction > .lSPrev {
  background-position: 0 -31px;
  bottom: auto;
  top: 10px;
}

/* vertical */
/* Rtl */
/* line 1467, ../sass/style.scss */
.lSSlideOuter.lSrtl {
  direction: rtl;
}

/* line 1470, ../sass/style.scss */
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
  padding-left: 0;
  list-style: none outside none;
}

/* line 1474, ../sass/style.scss */
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
  padding-right: 0;
}

/* line 1477, ../sass/style.scss */
.lSSlideOuter .lightSlider > *, .lSSlideOuter .lSGallery li {
  float: left;
}

/* line 1480, ../sass/style.scss */
.lSSlideOuter.lSrtl .lightSlider > *, .lSSlideOuter.lSrtl .lSGallery li {
  float: right !important;
}

/* Rtl */
@-webkit-keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@keyframes rightEnd {
  0% {
    left: 0;
  }
  50% {
    left: -15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@keyframes topEnd {
  0% {
    top: 0;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@keyframes leftEnd {
  0% {
    left: 0;
  }
  50% {
    left: 15px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes bottomEnd {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
/* line 1589, ../sass/style.scss */
.lSSlideOuter .rightEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

/* line 1594, ../sass/style.scss */
.lSSlideOuter .leftEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

/* line 1599, ../sass/style.scss */
.lSSlideOuter.vertical .rightEnd {
  -webkit-animation: topEnd 0.3s;
  animation: topEnd 0.3s;
  position: relative;
}

/* line 1604, ../sass/style.scss */
.lSSlideOuter.vertical .leftEnd {
  -webkit-animation: bottomEnd 0.3s;
  animation: bottomEnd 0.3s;
  position: relative;
}

/* line 1609, ../sass/style.scss */
.lSSlideOuter.lSrtl .rightEnd {
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;
}

/* line 1614, ../sass/style.scss */
.lSSlideOuter.lSrtl .leftEnd {
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;
}

/*/  GRab cursor */
/* line 1620, ../sass/style.scss */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

/* line 1627, ../sass/style.scss */
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

/*# sourceMappingURL=style.css.map */
